/*////// All //////*/


@font-face {
    font-family: "spotify-circular";
    src: url("https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Bold.8d0a45cc.woff2") format('woff2'),
        url("https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Bold.10e93738.woff") format('woff'),
        url("https://open.scdn.co/cdn/fonts/CircularSpUIv3T-Bold.7eb7d0f7.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

html{
    margin: 0;
}

body{
    font-family: "spotify-circular", Helvetica, Arial, sans-serif;
    margin: 0;
    width: 100%;
}

a{
    text-decoration: none;
    color: #ffffff;
}

.button1{
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #000000;
    border-radius: 500px;
    line-height: 20px;
    padding: 14px 32px;
    font-weight: bold;
    font-size: 14px;
}

#button2{
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 500px;
    line-height: 20px;
    padding: 14px 32px;
    font-weight: bold;
    font-size: 14px;
}


/*////// Header //////*/

#nav-container{
    background-color: #000;
    color: #ffffff;
    
}

#nav-inner-container{
    width: 100%;
    max-width: 1170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    
}

#nav-nav{
    
}

#nav-logo{
    filter: invert(99%) sepia(3%) saturate(636%) hue-rotate(271deg) brightness(119%) contrast(100%);
}

#nav-list{
    display: flex;
    list-style: none;
    flex-direction: row;
    width: 100%;
    max-width: 500;
    white-space: nowrap;
    margin: 0 auto;
}

#nav-list>li{
    padding: 28px 17px;
    line-height: 24px;
    overflow-wrap: normal;
    display: inline-block;
}


#nav-list>li>a{
    color: #ffffff;
}


/*////// Main //////*/




/*////// Section 1 //////*/

#s1-container{
    background-color: #993399;
    color: #ffffff;
    width: 100%;
}

#s1-inner-container{
    width: 100%;
    max-width: 1170px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    margin: 0 auto;
    align-items: center;

}

#s1-header{
    display: flex;
    align-items: center;
    max-width: inherit;
}

#s1-left-column{
    margin-right: 32px;
    padding: 72px 0;
    text-align: left;
   
}

#s1-left-column>h1{
    font-size: 40px;
    margin: 0 auto;
   
}

#s1-left-column>h2{
    margin: 30px 0 0 0;
}

#s1-left-column>footer{
    margin: 40px 0 0 0;
    font-size: 11px;

}
    



#s1-right-column{
    width: 100%;
    height: 100%;
    max-width: 400px;
    
}

#s1-imgcontainer{
    padding: 40px 0;
}

#s1-img{
    width: 100%;
    height: 405px;
    max-width: 400px;
    max-height: 400px;
}


/*////// Section 2 //////*/

#s2-container{
    background-color: #ffffff;
    color: #000000;
}

#s2-inner-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    justify-content: center;
    padding: 75px 15px;
}

#s2-title{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

#s2-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

#s2-list>li{
    text-align: center;
}

#s2-img{
    width: 140px;
    height: 140px;
    margin: 0 70px 40px 70px;
}

#s2-list-title{
    font-weight: 700;
    font-size: 21px;
}

/*////// Section 3 //////*/

#s3-container{
    background-color: #efefef;
    color: #000000;
}

#s3-inner-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 75px 15px;
    justify-content: center;


}

#s3-title{
    text-align: center;
    font-weight: bold;
}

#s3-title>h2{
    font-size: 40px;
    margin: 0;
}

#s3-grid{
    margin: 50px 0 26px 0;
    padding: 15px 0 0 0;
    width: 100%;
    max-width: 1170px;
    display: grid;
    grid-template: repeat(4, auto)/ repeat(4, 1fr);
    
    grid-auto-flow: column;
    justify-content: center;
    overflow-wrap: break-word;
    gap: 0 10px;

}

#plan-top{
    padding: 16px 16px 0;
    margin-right: 16px;
    border-radius: 10px 10px 0 0;
    background-color: #ffffff;
    box-shadow: rgb(255 255 255) 0px 8px 0px 0px, rgb(0 0 0 / 30%) 0px 0px 8px;
    z-index: 2;
}

.plan-month{
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;
}

.plan-month>li{
    background-color: rgb(46, 119, 208);
    border-radius: 4px;
    font-size: 14px;
    color: #ffffff;
    padding: 4px 8px;
    display: inline-block;
    font-weight: 900;
    margin: 0px 4px 10px 0px;
    margin-block: 0px 10px;
}

#plan-top>h3{
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
    margin: 0 0 5px;
}

#plan-top>p{
    font-weight: 400;
}

#plan-mid{
    padding: 20px 16px 16px;
    margin: 0 16px 0 0;
    background-color: #ffffff;
    list-style: none;
    overflow-wrap: break-word;
    box-shadow: rgb(0 0 0 / 30%) 0px 0px 8px;
    z-index: 1;
}

#checkmark{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    margin-bottom: 5px;
}

#checkmark>p{
    margin: 0;
    line-height: 22px;
}

#checkmark-img{
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;

}

#plan-btn{
    padding: 0 16px;
    margin-right: 16px;
    background-color: #ffffff;
    box-shadow: rgb(255 255 255) 0px -9px 0px 0px, rgb(0 0 0 / 30%) 0px 0px 8px;
    z-index: 2;
}

#plan-btn>button{
    width: 100%;
    margin-bottom: 10px;
}

#plan-bot{
    padding: 4px 16px 16px;
    margin-right: 16px;
    border-radius: 0 0 10px 10px;
    background-color: #ffffff;
    font-size: 12px;
    overflow: hidden;
    box-shadow: rgb(255 255 255) 0px -9px 0px 0px, rgb(0 0 0 / 30%) 0px 0px 8px;
    z-index: 3;
}

#plan-p>a{
    color: #000000;
}



/*////// Footer //////*/

#ft-container{
    background-color: #000000;
    color: #ffffff;
}

#ft-innner-container{
   padding: 80px 0 50px 0;
}

#ft-nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

#ft-topr{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    grid-template-columns: repeat(5, 1fr);
}

.ft-column1{
    list-style: none;
    padding: 0 15px;
    margin:0;
}

.ft-column1>dt{
    margin: 20px 0;
    color: #919496;
}

.ft-column1>dd{
    padding: 3px 0 15px 0;
    font-weight: 400;
}

#social-media{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    list-style: none;
    max-width: 190px;
    width: 100%;
    margin: 20px 15px 0 183px;
}

.social{
    max-width: 24px;
    max-height: 24px;
}


#ft-midr{
    text-align: right;
}


#ft-midr>a>svg{
    margin-right: 8px;
}

#ft-botr{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
}

.gray{
    color: #919496;
}

#ft-botr-list{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    width: 100%;
    max-width: 630px;
    font-size: 12px;
    color: #919496;
}

