:root {
    --black: #000000;
    --white: #ffffff;
    --offwhite: #efefef;
    --purple: #993399;
    --blue: #2E77D0;
    --gray: #919496;
}

/*All*/

.bg-black{background-color: var(--black);}
.bg-white{background-color: var(--white);}
.bg-offwhite{background-color: var(--offwhite);}
.bg-purple{background-color: var(--purple);}
.bg-blue{background-color: var(--blue);}

.clr-black{color: var(--black);}
.clr-white{color: var(--white);}
.clr-offwhite{color: var(--offwhite);}
.clr-purple{color: var(--purple);}
.clr-blue{color: var(--blue);}
.clr-gray{color: var(--gray);}


a{
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
}

a:hover{
    text-decoration: none;
    color: inherit;
}

ul, li{
    list-style: none;
    padding: 0;
}

h2{
    font-weight: bold;
    font-size: 2.5rem;
    padding: 32px;
}

h3{
    font-size: 1.5rem;
}

.button{
    border-radius: 500px;
    font-size: 14px;
    line-height: 20px;
    padding: 14px 32px;
    font-weight: bold;
    margin-bottom: 8px;
    transition: all .5s ease;
}

.button:hover{transform: scale(1.1);}

.button-black{
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #000000;
   
}

.button-transparent{
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
}



/* navigation */ 

.nav-logo{filter: invert(99%) sepia(3%) saturate(636%) hue-rotate(271deg) brightness(119%) contrast(100%);}

#navbarNav{justify-content: end;}

.nav-link:hover{color: var(--purple) !important;}

.line{padding-right: 0;}



/*Section 1*/

.sur-image{
    width: 100%;
    height: calc(1 * width);
    max-width: 400px;
    max-height: 400px;
}

#section-1 footer p{
    font-size: 11px;
    line-height: 1.5;
}


/*Section 2*/


.icon-image{
    width: 140px;
    height: 140px;   
}

.list-title{
    font-weight: 700;
    padding: 21px;
}

.list-title:last-child{font-size: 1rem;}


/*Section 3*/

#section-3 header{
    padding: 32px;
    font-size: 1rem;
}

#section-3 header ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-logo{
    max-width: 29px;
    max-height: 20px;
}

.card{
    font-size: 1rem;
    border-radius: 10px 10px 10px 10px;
    padding: 5px;
}

.card-label{
    border-radius: 4px;
    font-size: 14px;
    color: var(--white);
    padding: 4px 8px;
    display: inline-block;
    font-weight: bold;
}

hr{border: 1px solid gray;}

#checkmark{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    margin-bottom: 5px;
}

.card p:only-child{
    font-size: 11px;
    line-height: 1.5;
}

/*Footer*/

footer,
footer h4{font-size: 1rem;}

.social-media,
.link-bar ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.social-media{
    align-items: flex-start;
    max-width: 190px;
    width: 100%;
    margin: 20px 15px 0 183px;
}

.social{
    max-width: 24px;
    max-height: 24px;
    margin-left: 5px;
}

.link-bar,
.usa {
    font-size: 0.75rem;
    color: var(--gray)
}

.link-bar ul{
    width: 100%;
    max-width: 630px;
}

footer a:hover{
    color: var(--purple);
    text-decoration: none;
}

.social:hover{
    filter: invert(25%) sepia(26%) saturate(4107%) hue-rotate(266deg) brightness(94%) contrast(91%);
}


/*//////////////////////      Media Queries      ///////////////////////*/

@media(min-width: 45em){
    .card ul:nth-child(2){height: 276px;}
}

@media(max-width: 62em){
    .line{padding-right: 3;}
    .line div{
        display: inline-block;
    transform-origin: right;
    transform: rotate(90deg);}
}
